.editor-container {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin-bottom: 12px;
}

.editor-container .main-section .DraftEditor-root {
    background-color: rgb(245, 245, 245);
    height: 150px;
    overflow-y: auto;
}
.editor-container .main-section .DraftEditor-editorContainer,
.public-DraftEditor-content {
    height: 100%;
}

.editor-container .footer-section {
    display: flex;
    justify-content: space-between;
}

.editor-container .footer-section .toolbar {
    height: 40px;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
}

.editor-container .footer-section .toolbar button {
    height: 40px;
    width: 40px;
    border-color: transparent;
    transition: all 0.3s ease-in-out;
    font-weight: bold;
    font-size: medium;
}
.editor-container .footer-section .toolbar abbr {
    text-decoration: none;
}
.editor-container .footer-section .toolbar button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.editor-container .footer-section .toolbar .active {
    background-color: rgba(0, 0, 0, 0.2);
}

.editor-container .footer-section .submit button {
    height: 40px;
    width: 80px;
    border-color: transparent;
    transition: all 0.3s ease-in-out;
}

.editor-container .footer-section .submit button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.blockquote {
    background: #eeeeee;
    margin-left: 12px;
    border-left: 5px solid rgb(133, 133, 133);
    padding-left: 10px;
    font-style: italic;
}

.header {
    font-size: 36px;
    line-height: 40px;
}
