.post-container {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  margin: auto;
  margin-top: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
  transition: 0.3s;
}

.post-container:hover {
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.4);
}

.post-container .left-buttons {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex: 0 0 50px;
  padding: 8px 0px 0px 0px;
  background-color: rgb(240, 240, 240);
}

.post-container .left-buttons .upvotes {
  text-align: center;
  font-weight: bold;
  margin: 4px 0px 4px 0px;
}

.post-container .left-buttons .btn-up,
.btn-down {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-container .left-buttons .btn-up button {
  width: 20px;
  height: 15px;
  background: none;
  border: none;

  background-repeat: no-repeat;
  background-image: url(../../imgs/up.svg);
  background-position: center;
}

.post-container .left-buttons .btn-up button:hover {
  background-image: url(../../imgs/up-active.svg);
}
.post-container .left-buttons .btn-down button {
  width: 20px;
  height: 15px;
  background: none;
  border: none;
  background-image: url(../../imgs/down.svg);
  background-repeat: no-repeat;
  /* background-position: center; */
  background-position: top center;
}

.post-container .left-buttons .btn-down button:hover {
  background-image: url(../../imgs/down-active.svg);
}

.post-container .right-content {
  flex: auto;
  padding: 8px 8px 8px 16px;
}

.post-container .right-content .title {
  color: #050505;
}

.post-container .right-content .sub-title {
  color: rgba(28, 28, 28, 0.8);
  display: flex;
  flex-direction: row;
  margin-top: 4px;
  margin-bottom: 10px;
}

.post-container .right-content .sub-title .posted-by,
.posted-on {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
}

.post-container .right-content .sub-title .posted-by small {
  margin-right: 4px;
}
