*{
  margin: 0;
}
/* light blue 4285f4 */
/* dark blue 073042 */
/* light green 3ddc84 */
#main-nav{
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: #073042;
  color: #fff;
}

.app-name{
  min-width: 40%;
}

.nav-btn button{
  margin-right: 8px;
}

